extension = "newrelic.so"
[newrelic]
newrelic.license = "{{ newrelic.license }}"
newrelic.logfile = "/var/log/newrelic/php_agent.log"
newrelic.appname = "{{ newrelic.appname }}"
newrelic.daemon.logfile = "/var/log/newrelic/newrelic-daemon.log"

