{% set serveraliases 	= item.value.serveraliases|default(false) %}
{% set php_version      = item.value.php_version|default(7.2) %}

server {
        listen 80;
        server_name {{ item.value.name }} {% if serveraliases -%}alias{% for alias in serveraliases %} {{ alias }}{% endfor %}{% endif %};
        server_tokens off;

        root {{ item.value.docroot|default('/var/www/html/') }};
        index index.html index.htm index.php;

        location / {
		try_files $uri $uri/ /index.php?$query_string;
#                try_files $uri $uri/ =404;

	}
        location ~ \.php$ {
                try_files $uri =404;
                fastcgi_split_path_info ^(.+\.php)(/.+)$;
		fastcgi_pass unix:/run/php/php{{ php_version }}-fpm.sock;
                fastcgi_index index.php;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                include fastcgi_params;
        }
}

